:root{
    --heightOuterHealthBar: 0.5rem;
    --widthOuterHealthBar: 200px;
    --bottomOuterHealthBar: 6rem;
    --heightInnerHealthBar: calc(var(--heightOuterHealthBar) - 0.08rem);
    --widthInnerHealthBar: calc(var(--widthOuterHealthBar) - 0.08rem);
}
#outerHealthBar{
    background-color: rgba(255, 255, 255, 0.808);
    /* border-radius:calc(var(--heightOuterHealthBar)/4); */
    width: var(--widthOuterHealthBar);
    height: var(--heightOuterHealthBar);
    z-index: 100;
    position:fixed;
    bottom: var(--bottomOuterHealthBar);
    left: 50%;
    transform: translate(-50%, 0%);
}
#innerHealthBar{
    /* border-radius:calc(var(--heightOuterHealthBar)/4); */
    position:fixed;
    z-index: 100;
    /* background-color: rgb(56, 142, 255); */
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 83, 83)) !important;
    width: var(--widthInnerHealthBar);
    height: var(--heightInnerHealthBar);
    bottom: calc(var(--bottomOuterHealthBar) + 0.04rem);
    left:50%;
    transform: translate(-50%, 0%);
}
.healthBarWrapper{
    position:fixed;
    z-index: 100;
    height: var(--heightOuterHealthBar);
    width: var(--widthOuterHealthBar);
}